<% include partials/head.ejs %>
<link rel="stylesheet" href="/stylesheets/addinternship.css">

<% if(disp) {%>


    <br>
    <h1><center>Add a new Internship</center></h1>
    <br>
    <br>

<form action="/admin/addInternship" method="post">
    <center>
    <table>
        <tr><td><label for="">Name</label>
        </td><td>
            <input type="text" id="name" name="name" required>
        </td></tr>

        <tr><td><label for="">Description</label>
        </td>
            <td><textarea name="description" id="description" required>
            </textarea>

        </td></tr>

        <tr><td><label for="">Author</label></td><td>
            <input type="text">
        </td></tr>

        <tr><td><label for="">User 1:</label></td><td>
            <select name="user1" id="user1">
                <option value="" selected> </option>
                <% for (let i=0;i<users.length;i++) {%>
                    <option value="<%= users[i].email %>"><%= users[i].email%></option>
                <%}%>
            </select>
        </td></tr>

        <tr><td><label for="">User 2:</label></td><td>
            <select name="user2" id="user2">
                <option value="" selected></option>
                <% for (let i=0;i<users.length;i++) {%>
                    <option value="<%= users[i].email %>"><%= users[i].email%></option>
                <%}%>
            </select>
        </td></tr>

        <tr><td> <label for="">User 3:</label></td><td>
            <select name="user3" id="user3">
                <option value="" selected></option>
                <% for (let i=0;i<users.length;i++) {%>
                    <option value="<%= users[i].email %>"><%= users[i].email%></option>
                <%}%>
            </select>
        </td></tr>

        <tr><td> <label for="">User 4:</label></td><td>
            <select name="user4" id="user4">
                <option value="" selected> </option>
                <% for (let i=0;i<users.length;i++) {%>
                    <option value="<%= users[i].email %>"><%= users[i].email%></option>
                <%}%>
            </select>
        </td></tr>

        <tr><td><label for="">Internship id</label></td><td>
            <input type="text" id="internshipid" name="internshipid" required>
        </td></tr>

        <tr><td><label for="">Image Link</label></td><td>
            <input type="text" id="link1" name="link1" required>
        </td></tr>

        <tr><td>    <label>Complete</label>        </td><td>
            <select name="complete" id="complete">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
        </td></tr>

    </table>
    <br>
    <br>


    <button type="submit" class="btn-primary btn btn-lg space">Add to Server</button>
    <a href="/admin" class="btn-primary btn btn-lg space">Go back to Admin Home</a>
</center>
</form>
    <br>
    <br>
    <hr>
    <br>

    <% include partials/footer.ejs %>
    <br>
    <br>

<% } else {%>
WRONG PAGE
<%}%>



