<% include partials/head.ejs %>
<br>
<h1>Internships</h1>
<div class="container">
    <%for (let i=0;i<internships.length;i++) {%>
    <div>
        <%= internships[i].name %>
        <br>
        <%= internships[i].description %>
        <br>
        <%= internships[i].internshipId%>
        <br>
        <img src="<%= internships[i].link%>" alt="<%= internships[i].name%>" width="100" height="100">
        <br>
        <a href="/internships/<%= internships[i].internshipId %>" class="btn-lg btn btn-primary">Apply</a>
    </div>
    <hr>
    <%}%>
</div>

