<% include partials/head.ejs %>
<br>
<br>
<% if(disp) {%>
<h1><center>Internship Requests</center></h1>
<br>
<br>

<style>
    .container{
        font-size: 15px;
        line-height: 2;
    }
</style>

<div class="container">
    <%for (let i=0;i<req1.length;i++) {%>
        <div>
            <%= req1[i].internshipId %>
            <br>
            <%= req1[i].userId %>
            <br>
            <%= req1[i].domain%>
            <br>
            <%=req1[i].date%>
            <br>
            <br>
            <a href="/admin/requests/<%= req1[i]._id %>" class="btn btn-primary" >Seen</a>

            <hr>
        </div>

    <%}%>


    <%}else{%>
        WRONG PAGE
        <%}%>

</div>
